/*general styling*/
body{
    background-color: #d4d4d4;
}
.jumbotron{
    background-image: url("../img/bluetexture.jpg");
    color:#fff;
}
.container{
    min-height: 550px;
}
/*navbar css*/
button{
    float:right;
}

.navbar{
    background-color:purple;
    
}
    /*
    .navbar-toggle{
    background-color:#75C9E8 ;
    }*/
/*end of navbar*/


/*index.html css*/

/*end of index.html css*/


/*second page css*/

/*end of second pg css*/



/*third page css*/
.tab-pane{
    min-height:550px;
}
/*end of third page css*/


/*fourth page css*/
/*border for fourth page*/
.outline{
    border-color:black;
}
/*end of fourth page css*/


/*footer styling below*/
footer{
    background-color:#00909e;
}